.env
build
dist
node_modules
coverage
*.map
yarn-error.log
.aws-sam
.ebextensions
.parcel-cache
sam-template.yaml
sam-template.packaged.yaml
samconfig.toml
template.yaml

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions